*{
    background-color: black;
    color:white;
}
Header {
    display: flex;
    flex-direction: row;
}

button { 
    display: inline-block;
    position:relative;
    right: -950px
    }

footer{
    display: flex;
    flex-direction: column;
    justify-content:end;     
}
.Solen {
    display: flex;
    justify-content: space-between;
    font-size: 45px;
    color:darkblue;
}