*{
background-color: green;
}


:root {
--Light:Blue;
--dark: black
}

hr {
 line: height 20px;
    
}

}
button {
    display:inline-block;
    flex-direction: row;
    justify-text: left;
}
.Solen {
    display: flex;
    Justify-content: center; 
    text-transform: capitalize;
    font-style: bold;
    text-decoration: solid;
}
.About Me. :hover {


}