*{
    background-color: black;
    color:white;
}
Header {
    display: flex;
    flex-direction: row;
}

address {
    display: flex;
    justify-content: center;
}

button { 
    display: inline-block;
    position:relative;
    right: -950px;
    color: red;
}
 

h2 {
    display: flex;
    justify-content: center;
    Color: Green;
    background-color: red;
}   
p {
    display: flex;
    justify-content: left;
}

.Solen {
    display: inline-block;
    position: relative;
    left: 500px;
    font-size: 45px;
    color:darkblue;
}

button:hover {
    background-color: yellow;
    transition: .5 s;
}